@import '~antd/dist/antd.css';

.h100 {
  height: calc(100vh - 64px);
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.li {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  color: rgb(154, 211, 68);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.li:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

/* =============================================================================================== */

.tooltip {
  position: absolute;
  bottom: 35px;
  right: 35px;
}

.tooltip__btn {
  border: none;
  background: 0 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 10px rgb(0 13 84 / 20%);
  box-shadow: 2px 4px 10px rgb(0 13 84 / 20%);
}

.ant-scrolling-effect {
  cursor: pointer;
}

.ant-modal-content {
  cursor: auto;
}

.i {
  display: block;
}
